/* Hamburger Styling */
.menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.menu-btn_burger{
    width: 50px;
    height: 6px;
    background-color: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn_burger::before,
.menu-btn_burger::after{
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}
.menu-btn_burger::before {
    transform: translateY(-16px);
}
.menu-btn_burger::after {
    transform: translateY(16px);
}

/* Hamburger Animation */
.menu-btn.open .menu-btn_burger {
    transform: scaleZ(-50px);
    background: transparent;
}
.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg)
}
.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg)
}

/* Menu Links */
.nav-btns{
    transition: all .5s ease-in-out;
    transform: translateY(-30px);
    z-index:-1;
    color: transparent;
}

.nav-links.open .nav-btns {
    transform: translateY(-5px);
    z-index:0;
    color: white;
}

